<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./../ajaxcalls/fetchdemo.js"></script>
    <script>
        var obj  =new DataAccess();
        obj.getData().then((response)=>{
            // this is a promise object
            return response.json();
        }).then((data)=>{
            // subscribing to the respons promise
            console.log(JSON.stringify(data));
        }).catch((error)=>{
            console.log('Error Occured');
        });
        
        
        let prd = {
            ProductId:'Prd6002',
            ProductName: 'Chair',
            CategoryName: 'Furniture',
            Manufacturer:'Bajaj',
            Description:'Office USe',
            BasePrice:23000
        };

        obj.postData(prd).then((response)=>{
            return response.json();
        }).then((data)=>{
            console.log(JSON.stringify(data));
        }).catch((error)=>{
            console.log('Error Occured');
        });
    </script>
</head>
<body>
    <h1>Fetch DEMO</h1>
</body>
</html>